{% extends 'base.html' %}

{% block titulo_pagina %} Nuevo movimiento {% endblock %}

{% block contenido_pagina %}
            <h1>Borrado de movimiento</h1>

            <form action="/borrar/{{id}}" method="post">
                {{ form.hidden_tag() }}

                <div class="campo-formulario">
                    {{ form.fecha.label() }}
                    {{ form.fecha.fecha.data }}  
                </div>
                <div class="campo-formulario">
                    {{ form.concepto.label() }}
                    {{ form.concepto.data }}

                    {% for error in form.concepto.errors %}
                        <p class="error">{{ error }}</p>

                    {% endfor %}
                </div>
                <div class="campo-formulario">
                    {% for subfield in form.ingreso_gasto %}
                        {{ subfield }} {{ subfield.label }}
                    {% endfor %}
                </div>
                <div class="campo-formulario">
                    {{ form.cantidad.label() }}
                    {{ form.cantidad.data }}
                </div>

                {{ form.submit() }}
 
            </form>

{% endblock%}